@page "/fetchsampledatafromjsonstring"
@using EFBlazorBasics_Wasm.Shared
@using Newtonsoft.Json
@inject HttpClient Http

<h1>Sample Activity Data - Json String</h1>

<p>This page demonstrates fetching static sample data generated from a json string in a Controller on the Server.</p>
<p>Nb: No database activity here. Data is generated in the Controller direct from the Json String:<br />
<code>[{"Round":{"No":1},"Helper":{"Name":"John Marshall"}, "Task":"Shot Put"},{ "Round":{ "No":2},"Helper":{ "Name":"Sue Burrows"},"Task":"Marshalling"},{ "Round":{ "No":3},"Helper":{ "Name":"Jimmy Beans"},"Task":"Discus"}]</code></p>

<h1>Download JsonString:</h1>
<h2>Uses:</h2>
<code>var res = await Http.GetAsync("SampleActivitys");</code><br />
<code>if(res.IsSuccessStatusCode) ActivitysJson = await res.Content.ReadAsStringAsync();</code><br/>
<code>activitys = JsonConvert.DeserializeObject&lt;List&lt;Activity&gt;;&gt;(ActivitysJson).ToArray();</code><br />
<b>Received Activitys Json:</b><div><samp>@ActivitysJson</samp></div>
<p>Helpers and Rounds tables are extracted from Activities.</p>

<h2>Activities</h2>
@if (activitys == null)
{
    <p><em>Loading Activitys...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Helper</th>
                <th>Round.No</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in activitys)
            {
                <tr>
                    <td>@activity.Id</td>
                    <td>@activity.Helper.Name</td>
                    <td>@activity.Round.No</td>
                    <td>@activity.Task</td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Helpers</h2>
@if (Helpers == null)
{
    <p><em>Loading Helpers...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hlpr in Helpers)
            {
                <tr>
                    <td>@hlpr.Id</td>
                    <td>@hlpr.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Rounds</h2>
@if (Rounds == null)
{
    <p><em>Loading Rounds...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Round No.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var round in Rounds)
            {
                <tr>
                    <td>@round.Id</td>
                    <td>@round.No</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Activity[] activitys;
    private List<Helper> Helpers;
    private List<Round> Rounds;
    string ActivitysJson { get; set; } = "Waiting ..";

    protected override async Task OnInitializedAsync()
    {
        var res = await Http.GetAsync("SampleActivitys");
        if(res.IsSuccessStatusCode)
            ActivitysJson = await res.Content.ReadAsStringAsync();
        activitys = JsonConvert.DeserializeObject<List<Activity>>(ActivitysJson).ToArray();
        Helpers = new List<Helper>();
        Rounds = new List<Round>();
        foreach (Activity act in activitys)
        {
            Helper help = act.Helper;
            if (help != null)
                Helpers.Add(help);
            Round round = act.Round;
            if (round != null)
                Rounds.Add(round);
        }
        StateHasChanged();

    }

}
